
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559175850247849046.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-559175850247849046.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559175850247849046.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559175850247849046.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559175850247849046.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559175850247849046.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559175850247849046.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559175850247849046.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559175850247849046.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559175850247849046.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559175850247849046.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559175850247849046.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559175850247849046.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559175850247849046.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559175850247849046.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559175850247849046.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559175850247849046.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559175850247849046.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559175850247849046.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559175850247849046.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559175850247849046.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559175850247849046.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559175850247849046.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559175850247849046.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559175850247849046.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559175850247849046.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559175850247849046.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-559175850247849046.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559175850247849046.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559175850247849046.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559175850247849046.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559175850247849046.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559175850247849046.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-559175850247849046.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-559175850247849046.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559175850247849046.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559175850247849046.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-559175850247849046.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559175850247849046.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559175850247849046.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559175850247849046.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559175850247849046.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559175850247849046.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559175850247849046.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559175850247849046.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559175850247849046.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559175850247849046.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-559175850247849046.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559175850247849046.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559175850247849046.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559175850247849046.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-559175850247849046.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-559175850247849046.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-559175850247849046.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-559175850247849046.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-559175850247849046.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-559175850247849046.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-559175850247849046.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559175850247849046.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559175850247849046.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559175850247849046.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-559175850247849046.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559175850247849046.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-559175850247849046.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559175850247849046.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559175850247849046.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-559175850247849046.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559175850247849046.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559175850247849046.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559175850247849046.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-559175850247849046.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-559175850247849046.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-559175850247849046.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-559175850247849046.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-559175850247849046.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-559175850247849046.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-559175850247849046.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559175850247849046.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559175850247849046.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559175850247849046.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559175850247849046.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559175850247849046.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-559175850247849046.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559175850247849046.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-559175850247849046.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-559175850247849046.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559175850247849046.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559175850247849046.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559175850247849046.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559175850247849046.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-559175850247849046.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559175850247849046.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559175850247849046 .gp-relative{position:relative}.gps-559175850247849046 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559175850247849046 .gp-mb-0{margin-bottom:0}.gps-559175850247849046 .gp-inline-block{display:inline-block}.gps-559175850247849046 .gp-flex{display:flex}.gps-559175850247849046 .gp-grid{display:grid}.gps-559175850247849046 .gp-contents{display:contents}.gps-559175850247849046 .\!gp-hidden{display:none!important}.gps-559175850247849046 .gp-hidden{display:none}.gps-559175850247849046 .gp-h-auto{height:auto}.gps-559175850247849046 .gp-h-full{height:100%}.gps-559175850247849046 .gp-w-full{width:100%}.gps-559175850247849046 .gp-max-w-full{max-width:100%}.gps-559175850247849046 .gp-flex-none{flex:none}.gps-559175850247849046 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-559175850247849046 .gp-flex-col{flex-direction:column}.gps-559175850247849046 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559175850247849046 .gp-duration-200{transition-duration:.2s}.gps-559175850247849046 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559175850247849046 .tablet\:\!gp-hidden{display:none!important}.gps-559175850247849046 .tablet\:gp-hidden{display:none}.gps-559175850247849046 .tablet\:gp-h-auto{height:auto}.gps-559175850247849046 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-559175850247849046 .mobile\:\!gp-hidden{display:none!important}.gps-559175850247849046 .mobile\:gp-hidden{display:none}.gps-559175850247849046 .mobile\:gp-h-auto{height:auto}.gps-559175850247849046 .mobile\:gp-flex-none{flex:none}}.gps-559175850247849046 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsqeA_oipt"}' data-id="gsqeA_oipt" id="gsqeA_oipt" data-same-height-subgrid-container class="gsqeA_oipt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gN2P1J16rF gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#334fb4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#334fb4","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"tablet":{"attachment":"scroll","color":"#334fb4","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g61ISiYXeL"}' data-id="g61ISiYXeL" id="g61ISiYXeL" data-same-height-subgrid-container class="g61ISiYXeL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:12px;--pl:20px;--pb:12px;--pr:20px;--mb-mobile:6px;--pt-mobile:12px;--pl-mobile:20px;--pb-mobile:12px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#334fb4;--bgc-tablet:#334fb4;--bgc-mobile:#334fb4;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCuIYksk5O gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goSS1lI-j_"
        class="goSS1lI-j_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061116988"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Days-One, 'Days One'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoSS1lI-j__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsUJPMxwjI"
        class="gsUJPMxwjI"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:20px;--pr:20px;--mb-mobile:14px;--mb-tablet:16px;--pl-tablet:20px;--pr-tablet:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061116990"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:48px;--size-tablet:48px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsUJPMxwjI_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpDWnLpTDM"}' data-id="gpDWnLpTDM" id="gpDWnLpTDM" data-same-height-subgrid-container class="gpDWnLpTDM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:0px;--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwd2KNCCl2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glh16XVmp6"}' data-id="glh16XVmp6" id="glh16XVmp6" data-same-height-subgrid-container class="glh16XVmp6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:20px;--pr:20px;--mb-mobile:14px;--mb-tablet:16px;--pl-tablet:20px;--pr-tablet:20px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:1036px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gTIWu9vO1O gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_zbJ1Nq4h"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117003 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_zbJ1Nq4h"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-ea260092-e136-4b44-82c5-03ab347e269e.png" | file_url }}" srcset="{{ "gempages_559174279782990669-ea260092-e136-4b44-82c5-03ab347e269e.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-ea260092-e136-4b44-82c5-03ab347e269e.png" | file_url }}" srcset="{{ "gempages_559174279782990669-ea260092-e136-4b44-82c5-03ab347e269e.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-ea260092-e136-4b44-82c5-03ab347e269e.png" | file_url }}" data-src="{{ "gempages_559174279782990669-ea260092-e136-4b44-82c5-03ab347e269e.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:60px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g_zbJ1Nq4h">
        .g_zbJ1Nq4h {

}
.g_zbJ1Nq4h > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g9MMAIAwxq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVb22uwgrh"
        class="gVb22uwgrh"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117005"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVb22uwgrh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g94E2YSY2g"
        class="g94E2YSY2g"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117006"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg94E2YSY2g_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g94E2YSY2g">
        .g94E2YSY2g {

}
.g94E2YSY2g p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ggn6YafkFe gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghXK4ZyZmW"
        class="ghXK4ZyZmW"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117008"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghXK4ZyZmW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ghXK4ZyZmW">
        .ghXK4ZyZmW {

}
.ghXK4ZyZmW p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gI__jhY52N"
        class="gI__jhY52N"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pl:20px;--pr:20px;--mb-mobile:20px;--pl-mobile:20px;--pr-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117009"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:#F5F5F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggI__jhY52N_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gI__jhY52N">
        .gI__jhY52N {

}
.gI__jhY52N p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsVpv1b_vq"}' data-id="gsVpv1b_vq" id="gsVpv1b_vq" data-same-height-subgrid-container class="gsVpv1b_vq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gLPCUTBkfx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gz7QG-a6te"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117012 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gz7QG-a6te"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-1dd1a132-a1aa-4f29-927e-de22b7e6cce1.webp" | file_url }}" srcset="{{ "gempages_559174279782990669-1dd1a132-a1aa-4f29-927e-de22b7e6cce1.webp" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-1dd1a132-a1aa-4f29-927e-de22b7e6cce1.webp" | file_url }}" srcset="{{ "gempages_559174279782990669-1dd1a132-a1aa-4f29-927e-de22b7e6cce1.webp" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-1dd1a132-a1aa-4f29-927e-de22b7e6cce1.webp" | file_url }}" data-src="{{ "gempages_559174279782990669-1dd1a132-a1aa-4f29-927e-de22b7e6cce1.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--objf-mobile:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gz7QG-a6te">
        .gz7QG-a6te {

}
.gz7QG-a6te > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gpDl9ov8k3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSUN7XJUQ_"
        class="gSUN7XJUQ_"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117014"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSUN7XJUQ__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gl2E3hJ8RT"
        class="gl2E3hJ8RT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117015"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl2E3hJ8RT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF9F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gY2-IessnV"}' data-id="gY2-IessnV" id="gY2-IessnV" data-same-height-subgrid-container class="gY2-IessnV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDF9F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gZIto2JPLl gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glpqr-7Hdw"
        class="glpqr-7Hdw"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117019"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglpqr-7Hdw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaBkPC8lwS"
        class="gaBkPC8lwS"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117020"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaBkPC8lwS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gWild0vDxw gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gSM7v9X1t4"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117021 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gSM7v9X1t4"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-40ce1d80-7e94-4317-b853-e31aac6f86fa.png" | file_url }}" srcset="{{ "gempages_559174279782990669-40ce1d80-7e94-4317-b853-e31aac6f86fa.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-bd0cea77-9bf5-4702-8859-dcb0969b8840.webp" | file_url }}" srcset="{{ "gempages_559174279782990669-bd0cea77-9bf5-4702-8859-dcb0969b8840.webp" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-40ce1d80-7e94-4317-b853-e31aac6f86fa.png" | file_url }}" data-src="{{ "gempages_559174279782990669-40ce1d80-7e94-4317-b853-e31aac6f86fa.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gSM7v9X1t4">
        .gSM7v9X1t4 {

}
.gSM7v9X1t4 > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFXKuK7kjO"}' data-id="gFXKuK7kjO" id="gFXKuK7kjO" data-same-height-subgrid-container class="gFXKuK7kjO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g6A35azoj6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gH0jhY8Y10"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117024 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gH0jhY8Y10"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-0f7d9a5c-9e1f-4bf9-88b1-e0a3aa0293eb.webp" | file_url }}" srcset="{{ "gempages_559174279782990669-0f7d9a5c-9e1f-4bf9-88b1-e0a3aa0293eb.webp" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-0f7d9a5c-9e1f-4bf9-88b1-e0a3aa0293eb.webp" | file_url }}" srcset="{{ "gempages_559174279782990669-0f7d9a5c-9e1f-4bf9-88b1-e0a3aa0293eb.webp" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-0f7d9a5c-9e1f-4bf9-88b1-e0a3aa0293eb.webp" | file_url }}" data-src="{{ "gempages_559174279782990669-0f7d9a5c-9e1f-4bf9-88b1-e0a3aa0293eb.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gH0jhY8Y10">
        .gH0jhY8Y10 {

}
.gH0jhY8Y10 > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g7mXtY_OVb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAnZMlERiJ"
        class="gAnZMlERiJ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117026"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAnZMlERiJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIalygly_0"
        class="gIalygly_0"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117027"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIalygly_0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF9F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g5wKnri7yY"}' data-id="g5wKnri7yY" id="g5wKnri7yY" data-same-height-subgrid-container class="g5wKnri7yY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDF9F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gug0dvvnwg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFmpQr3GJS"
        class="gFmpQr3GJS"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117036"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFmpQr3GJS_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBt4iZHmBO"
        class="gBt4iZHmBO"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117037"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBt4iZHmBO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gOPxjsF2xN gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g9EEDWAasT"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117038 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g9EEDWAasT"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-f85c72cc-6c8c-4378-a875-f043564c62f8.webp" | file_url }}" srcset="{{ "gempages_559174279782990669-f85c72cc-6c8c-4378-a875-f043564c62f8.webp" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-c6f2d215-4c9b-49ae-b797-5a5fbc2c56ca.png" | file_url }}" srcset="{{ "gempages_559174279782990669-c6f2d215-4c9b-49ae-b797-5a5fbc2c56ca.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-c6f2d215-4c9b-49ae-b797-5a5fbc2c56ca.png" | file_url }}" data-src="{{ "gempages_559174279782990669-c6f2d215-4c9b-49ae-b797-5a5fbc2c56ca.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g9EEDWAasT">
        .g9EEDWAasT {

}
.g9EEDWAasT > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/daysone/v19/mem9YaCnxnKRiYZOCIYScr4.woff) format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/daysone/v19/mem9YaCnxnKRiYZOCIYWcrg0V8BsOqc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/daysone/v19/mem9YaCnxnKRiYZOCIYScrg0V8Bs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-559175850247849046 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/11eqqz-wk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559175832229118957&sectionId=559175850247849046)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoSS1lI-j__text","label":"ggoSS1lI-j__text","default":"<span style=\"color:#FFFFFF;\"><strong>Wandel Magazine</strong></span>"},{"type":"html","id":"ggsUJPMxwjI_text","label":"ggsUJPMxwjI_text","default":"7 redenen waarom deze schoenen de nummer #1 Wandelschoenen uit 2025 zijn!"},{"type":"html","id":"ggVb22uwgrh_text","label":"ggVb22uwgrh_text","default":"Door <strong>Dr. Anna de Boer</strong>"},{"type":"html","id":"gg94E2YSY2g_text","label":"gg94E2YSY2g_text","default":"<p>24.03.2025</p>"},{"type":"html","id":"gghXK4ZyZmW_text","label":"gghXK4ZyZmW_text","default":"<p>Advertorial</p>"},{"type":"html","id":"ggI__jhY52N_text","label":"ggI__jhY52N_text","default":"<p><strong>Wetenschappelijke Samenvatting:</strong> De OrthoFit-schoenen verbeteren de bloedcirculatie, verlichten pijn bij voetklachten zoals plantaire fasciitis en hallux valgus, en ondersteunen de voetuitlijning.&nbsp;</p><p>&nbsp;</p><p>Ze hebben een ruime teenbox voor extra comfort en zijn gemaakt van ademende, duurzame materialen. Het lichte ontwerp vermindert vermoeidheid en wordt aanbevolen door Orthopedisten en Pedagogen. Hierdoor maken dit de perfecte wandelschoenen!</p>"},{"type":"html","id":"ggSUN7XJUQ__text","label":"ggSUN7XJUQ__text","default":"1. Verbeterde Bloedcirculatie"},{"type":"html","id":"ggl2E3hJ8RT_text","label":"ggl2E3hJ8RT_text","default":"<p>Slechte doorbloeding in de voeten kan leiden tot <strong>gevoelloosheid, tintelingen en zwelling</strong>, waardoor dagelijkse activiteiten zoals wandelen pijnlijk kunnen worden.</p><p>&nbsp;</p><p>Deze problemen komen vaker voor bij mensen boven de 50 jaar of bij mensen met diabetes. Bovendien kan het <strong>dragen van verkeerde schoenen</strong> deze <strong>klachten verergeren of zelfs veroorzaken</strong>, zoals blijkt uit onderzoek van Harvard University.</p>"},{"type":"html","id":"gglpqr-7Hdw_text","label":"gglpqr-7Hdw_text","default":"2. Voel het Verschil Direct - Geen Voetpijn en Ongemak Meer"},{"type":"html","id":"ggaBkPC8lwS_text","label":"ggaBkPC8lwS_text","default":"<p>Je voeten zijn de basis van je lichaam en ondersteunen elke stap die je zet. Maar wanneer die basis faalt, kunnen de gevolgen ondraaglijk zijn.</p><p>&nbsp;</p><p>Slechte wandelschoenen veroorzaken vaak <strong>brandende pijn, tintelingen</strong> en zelfs <strong>gevoelloosheid</strong>, waardoor elke stap een uitdaging wordt.</p><p>&nbsp;</p><p>Verkeerde schoenen verergert deze problemen, wat leidt tot meer ongemak en zenuwbeschadiging.</p><p>&nbsp;</p><p>ErgoFit-schoenen bieden de <strong>ondersteuning die je voeten nodig hebben</strong> - ze verbeteren de bloedcirculatie, verlichten de druk en verminderen ontstekingen, zodat je eindelijk met gemak en comfort kunt lopen.</p>"},{"type":"html","id":"ggAnZMlERiJ_text","label":"ggAnZMlERiJ_text","default":"3. Verlicht Plantaire Fasciitis, Hielpijn en Voetpijn"},{"type":"html","id":"ggIalygly_0_text","label":"ggIalygly_0_text","default":"<p>De hoogwaardige inlegzolen en de ondersteuning van de voetboog in ErgoFeet-schoenen zijn speciaal ontworpen om veelvoorkomende voetproblemen zoals<strong> plantaire fasciitis, hielpijn, botuitsteeksels en neuropathie te verlichten.</strong></p><p>&nbsp;</p><p>Het orthopedische ontwerp bevordert een betere uitlijning, verbetert de houding en biedt natuurlijke comfort voor langdurige verlichting. Zeg <strong>vaarwel tegen voetpijn</strong> en hallo tegen een a<strong>ctievere, pijnvrije levensstijl.</strong></p>"},{"type":"html","id":"ggFmpQr3GJS_text","label":"ggFmpQr3GJS_text","default":"4. Waarom beter dan je normale wandel schoenen?"},{"type":"html","id":"ggBt4iZHmBO_text","label":"ggBt4iZHmBO_text","default":"<p>Normale wandelschoenen zien er misschien sportief uit, maar schieten vaak tekort als het gaat om cht comfort en ondersteuning.&nbsp;</p><p>&nbsp;</p><p>OrthoFit wandelschoenen zijn speciaal ontworpen met een <strong>ruime teenbox</strong>, waardoor je tenen vrij kunnen bewegen en natuurlijke spreiding mogelijk is. Dit helpt niet alleen bij het voorkomen van drukpunten, maar <strong>verlicht actief pijn</strong> in het teengebied  ideaal bij aandoeningen zoals <strong>hallux valgus</strong>, <strong>hamertenen</strong> of <strong>andere voetproblemen</strong>.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  