
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559175850247848941.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-559175850247848941.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559175850247848941.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559175850247848941.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559175850247848941.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559175850247848941.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559175850247848941.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559175850247848941.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-559175850247848941.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559175850247848941.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559175850247848941.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559175850247848941.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559175850247848941.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559175850247848941.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559175850247848941.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559175850247848941.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559175850247848941.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559175850247848941.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559175850247848941.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-559175850247848941.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-559175850247848941.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559175850247848941.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559175850247848941.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559175850247848941.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559175850247848941.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559175850247848941.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559175850247848941.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559175850247848941.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559175850247848941.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559175850247848941.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559175850247848941.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559175850247848941.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-559175850247848941.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559175850247848941.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559175850247848941.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559175850247848941.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559175850247848941.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559175850247848941.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-559175850247848941.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-559175850247848941.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559175850247848941.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559175850247848941.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-559175850247848941.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559175850247848941.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559175850247848941.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559175850247848941.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559175850247848941.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559175850247848941.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559175850247848941.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559175850247848941.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559175850247848941.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559175850247848941.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-559175850247848941.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559175850247848941.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559175850247848941.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559175850247848941.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-559175850247848941.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559175850247848941.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559175850247848941.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559175850247848941.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-559175850247848941.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559175850247848941.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-559175850247848941.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559175850247848941.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559175850247848941.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-559175850247848941.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-559175850247848941.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559175850247848941.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559175850247848941.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559175850247848941.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-559175850247848941.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-559175850247848941.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-559175850247848941.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-559175850247848941.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-559175850247848941.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-559175850247848941.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559175850247848941.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559175850247848941.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559175850247848941.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559175850247848941.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559175850247848941.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559175850247848941.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-559175850247848941.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559175850247848941.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559175850247848941.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559175850247848941.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559175850247848941.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-559175850247848941.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559175850247848941.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559175850247848941 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-559175850247848941 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-559175850247848941 .gp-relative{position:relative}.gps-559175850247848941 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559175850247848941 .gp-mb-0{margin-bottom:0}.gps-559175850247848941 .gp-inline-block{display:inline-block}.gps-559175850247848941 .gp-flex{display:flex}.gps-559175850247848941 .gp-inline-flex{display:inline-flex}.gps-559175850247848941 .gp-grid{display:grid}.gps-559175850247848941 .gp-contents{display:contents}.gps-559175850247848941 .\!gp-hidden{display:none!important}.gps-559175850247848941 .gp-hidden{display:none}.gps-559175850247848941 .gp-h-auto{height:auto}.gps-559175850247848941 .gp-h-full{height:100%}.gps-559175850247848941 .gp-w-full{width:100%}.gps-559175850247848941 .gp-max-w-full{max-width:100%}.gps-559175850247848941 .gp-flex-none{flex:none}.gps-559175850247848941 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-559175850247848941 .gp-flex-col{flex-direction:column}.gps-559175850247848941 .gp-items-center{align-items:center}.gps-559175850247848941 .gp-justify-center{justify-content:center}.gps-559175850247848941 .gp-overflow-hidden{overflow:hidden}.gps-559175850247848941 .gp-break-words{overflow-wrap:break-word}.gps-559175850247848941 .gp-text-center{text-align:center}.gps-559175850247848941 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-559175850247848941 .gp-no-underline{text-decoration-line:none}.gps-559175850247848941 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559175850247848941 .gp-duration-200{transition-duration:.2s}.gps-559175850247848941 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559175850247848941 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-559175850247848941 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-559175850247848941 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-559175850247848941 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-559175850247848941 .tablet\:\!gp-hidden{display:none!important}.gps-559175850247848941 .tablet\:gp-hidden{display:none}.gps-559175850247848941 .tablet\:gp-h-auto{height:auto}.gps-559175850247848941 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-559175850247848941 .mobile\:\!gp-hidden{display:none!important}.gps-559175850247848941 .mobile\:gp-hidden{display:none}.gps-559175850247848941 .mobile\:gp-h-auto{height:auto}.gps-559175850247848941 .mobile\:gp-flex-none{flex:none}}.gps-559175850247848941 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559175850247848941 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gVuzSqO24e"}' data-id="gVuzSqO24e" id="gVuzSqO24e" data-same-height-subgrid-container class="gVuzSqO24e gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDm4p1h8gP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF9F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#ffffff","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gjow8a77U3"}' data-id="gjow8a77U3" id="gjow8a77U3" data-same-height-subgrid-container class="gjow8a77U3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDF9F4;--bgc-mobile:#ffffff;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gc4pIlZKp1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gB1HSmK3Bq"
        class="gB1HSmK3Bq"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117481"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggB1HSmK3Bq_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP9IKfykXT"
        class="gP9IKfykXT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117482"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP9IKfykXT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gExYBaNe1L gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gaB9-b_QeD"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117483 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaB9-b_QeD"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-58b3cabc-b842-4355-aebf-93a23bd9bca7.png" | file_url }}" srcset="{{ "gempages_559174279782990669-58b3cabc-b842-4355-aebf-93a23bd9bca7.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-efce0f26-8a39-40d1-96f8-662518fb3ae9.png" | file_url }}" srcset="{{ "gempages_559174279782990669-efce0f26-8a39-40d1-96f8-662518fb3ae9.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-7f3047b8-855e-4673-9923-8938ee0e9158.png" | file_url }}" data-src="{{ "gempages_559174279782990669-7f3047b8-855e-4673-9923-8938ee0e9158.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gaB9-b_QeD">
        .gaB9-b_QeD {

}
.gaB9-b_QeD > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzC11DopS-"}' data-id="gzC11DopS-" id="gzC11DopS-" data-same-height-subgrid-container class="gzC11DopS- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gVDizI_ynX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g8578qLZXH"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117486 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8578qLZXH"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-51d87855-9946-4739-894c-500bd6d3c366.png" | file_url }}" srcset="{{ "gempages_559174279782990669-51d87855-9946-4739-894c-500bd6d3c366.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-f052c3e2-2d61-4fa1-a26f-1e8f6bb625fa.png" | file_url }}" srcset="{{ "gempages_559174279782990669-f052c3e2-2d61-4fa1-a26f-1e8f6bb625fa.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-51d87855-9946-4739-894c-500bd6d3c366.png" | file_url }}" data-src="{{ "gempages_559174279782990669-51d87855-9946-4739-894c-500bd6d3c366.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g8578qLZXH">
        .g8578qLZXH {

}
.g8578qLZXH > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gIEqEHSx4e gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga6J6RWnJA"
        class="ga6J6RWnJA"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117488"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga6J6RWnJA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu12Fszd_m"
        class="gu12Fszd_m"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117489"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu12Fszd_m_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF9F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gRKtSNM9d6"}' data-id="gRKtSNM9d6" id="gRKtSNM9d6" data-same-height-subgrid-container class="gRKtSNM9d6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:40px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDF9F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gcukzEiX5z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLpcX2Okyh"
        class="gLpcX2Okyh"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117494"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLpcX2Okyh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQqrPpdnwT"
        class="gQqrPpdnwT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--mb-mobile:0px;--pr-mobile:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117495"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQqrPpdnwT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gBXipAiBUd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ggIMYK_9GE"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759061117495 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ggIMYK_9GE"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_559174279782990669-cea7d1b3-86a7-408c-aefe-010cfb9c4bbc.png" | file_url }}" srcset="{{ "gempages_559174279782990669-cea7d1b3-86a7-408c-aefe-010cfb9c4bbc.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_559174279782990669-1eb0212e-b6fd-44da-a7b6-9b8fa183e761.webp" | file_url }}" srcset="{{ "gempages_559174279782990669-1eb0212e-b6fd-44da-a7b6-9b8fa183e761.webp" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_559174279782990669-cea7d1b3-86a7-408c-aefe-010cfb9c4bbc.png" | file_url }}" data-src="{{ "gempages_559174279782990669-cea7d1b3-86a7-408c-aefe-010cfb9c4bbc.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-ggIMYK_9GE">
        .ggIMYK_9GE {

}
.ggIMYK_9GE > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt2dZpGK9X"
        class="gt2dZpGK9X"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:9px;--mb-mobile:5px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117505"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:50%;--w-tablet:50%;--w-mobile:5080%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:27px;--size-tablet:46px;--size-mobile:24px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggt2dZpGK9X_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5QHY38XUY"
        class="g5QHY38XUY"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:25px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061117506"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:60%;--w-tablet:60%;--w-mobile:90%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:17px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5QHY38XUY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.mode-jansen.nl/products/ergofit-pijnstillende-comfort-schoenen","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:0px;--ta:center;--ta-tablet:center;--ta-mobile:center" >
        <style>[data-id="gjYg0IKuZZ"].gp-button-base::before, [data-id="gjYg0IKuZZ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gjYg0IKuZZ"]:hover::before, [data-id="gjYg0IKuZZ-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gjYg0IKuZZ" dataId="gjYg0IKuZZ" data-state="idle" aria-label="<p>Bekijk de beschikbaarheid en de prijs! 👉🏼</p>"
          
          href="https://www.mode-jansen.nl/products/ergofit-pijnstillende-comfort-schoenen" target="_self"
          style="--w:Auto;--w-tablet:800px;--w-mobile:350px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#334fb4;--c:var(--g-c-text-3, text-3);--size:28px;--size-tablet:16px;--size-mobile:18px"
          class="gjYg0IKuZZ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:28px;--size-tablet:16px;--size-mobile:18px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggjYg0IKuZZ_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-559175850247848941 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/11eqqz-wk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559175832229118957&sectionId=559175850247848941)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggB1HSmK3Bq_text","label":"ggB1HSmK3Bq_text","default":"5. Premium Ademend Materiaal"},{"type":"html","id":"ggP9IKfykXT_text","label":"ggP9IKfykXT_text","default":"<p>Geniet van een premium ademende gebreide bovenkant die je voeten koel en comfortabel houdt. De duurzame materialen zorgen ervoor dat je schoenen de tand des tijds doorstaan en een leven lang meegaan.</p>"},{"type":"html","id":"gga6J6RWnJA_text","label":"gga6J6RWnJA_text","default":"6. Lichtgewicht Ontwerp voor Moeiteloos Lopen"},{"type":"html","id":"ggu12Fszd_m_text","label":"ggu12Fszd_m_text","default":"<p>Zware, ongemakkelijke schoenen kunnen je energie uitputten en voetpijn verergeren, vooral tijdens <strong>lange diensten van 12 uur.</strong></p><p>&nbsp;</p><p>Het lichtgewicht en ondersteunende ontwerp van ComfoFeet vermindert ongemak, verhoogt de prestaties en maakt elke stap moeiteloos.</p><p>&nbsp;</p><p>Blijf de hele dag <strong>energiek</strong> en actief, zonder de belasting van zware schoenen. Zeg vaarwel tegen pijnlijke, vermoeide voeten en hallo tegen<strong> comfort</strong> dat je de hele dag in beweging houdt, ongeacht de eisen.</p>"},{"type":"html","id":"ggLpcX2Okyh_text","label":"ggLpcX2Okyh_text","default":"7. Door Artsen Aanbevolen voor Verbeterde Voetgezondheid"},{"type":"html","id":"ggQqrPpdnwT_text","label":"ggQqrPpdnwT_text","default":"<p>Deskundigen uit de industrie adviseren onze schoenen al enkele maanden. Velen hebben ze aanbevolen aan hun vrienden en familie vanwege de voordelen voor de voetgezondheid.</p>"},{"type":"html","id":"ggt2dZpGK9X_text","label":"ggt2dZpGK9X_text","default":"<strong><u>Vandaag met 70% Korting via onze link!</u></strong>"},{"type":"html","id":"gg5QHY38XUY_text","label":"gg5QHY38XUY_text","default":"<p>We hebben deze geweldige aanbieding gevonden op een bekende website, ideaal voor iedereen die op zoek is naar comfort en ondersteuning tijdens het wandelen.&nbsp;</p>"},{"type":"html","id":"ggjYg0IKuZZ_label","label":"ggjYg0IKuZZ_label","default":"<p>Bekijk de beschikbaarheid en de prijs! 👉🏼</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  